{% include 'header.html' %}
<div class="content-wrapper">
{% include 'left_navigation.html' %}
	<section class="content-header">
		<h1>
			FPO-BANK DETAILS
			<small id="date" class="col-md-4"></small>
			<!-- <small>Optional description</small> -->
		</h1>
		<ol class="breadcrumb">
			<li><a href="/dashboard/"><i class="fa fa-dashboard"></i> Home</a></li>
			<li><a href="/bank_info/"><i class="fa fa-dashboard"></i> Back To List</a></li>
		</ol>
	</section>
	<!-- Main content -->
	<form class="form-horizontal" method="POST" action="/add_bank/">{% csrf_token %}
		<!-- Main content -->
		<section class="content">
			<div class="row">
				<div class="col-md-12">
					<div class="box">


						<!-- radio -->
						<div class="form-group">
							<div class="box-body">
								<div class="col-lg-2"></div>
								<div class="col-lg-8">
									<div class="panel panel-danger" style="box-shadow:2px 2px 2px 2px black;">
										<div class="panel-heading">
											<h3 class="panel-title"><b>NEW BANK DETAILS</b></h3>
										</div>
										<div class="panel-body" style="font-weight: bold;">

											<div class="form-group">

												<div class="col-md-6">
													<label> Bank Name </label>
													<input type="text" class="form-control" name="bank_name" id="bank_name" />
												</div>
												<div class="col-md-6">
													<label> Bank Branch </label>
													<input type="text" class="form-control" name="bank_branch" id="bank_branch"/>
												</div>
											</div>
											<div class="form-group">

												<div class="col-md-12">
													<label> Bank Address </label>
													<textarea class="form-control" name="bank_address"></textarea>
												</div>

											</div>
											<div class="form-group">

												<div class="col-md-3">
													<label> Account No </label>
													<input type="text" class="form-control" name="bank_accno" id="bank_accno" />
												</div>
												<div class="col-md-3">
													<label> Bank IFSC Code </label>
													<input type="text" class="form-control" name="bank_ifsc" id="bank_ifsc"/>
												</div>
												<div class="col-md-3">
													<label> Opening Balance </label>
													<input type="text" class="form-control" name="bank_opening_balance" id="bank_opening_balance" />
												</div>

											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="box-footer">
					<div class="row">
						<div class="col-md-6">
						</div>
						<div class="col-md-4">
							<a href="/bank_info"><button type="button" class="btn btn-danger">Cancel</button></a>
							<button type="submit" class="btn btn-primary">Save</button>
						</div>
					</div>
				</div>
			</div>


		</section>

	</form>
	<!-- /.content -->
</div>
{% include 'footer.html' %}
<!-- /.content-wrapper -->