<!-- Content Wrapper. Contains page content -->
{% include 'header.html' %}
<div class="content-wrapper">
    {% include 'left_navigation.html' %}
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Licenses Details
      <small id="date" class="col-md-4"></small>
      <!-- <small>Optional description</small> -->
    </h1>
    <ol class="breadcrumb">
      <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="/licenses"><i class="fa fa-dashboard"></i> Back to List</a></li>
      <li class="active">Licenses Details</li>
    </ol>
  </section>
  <form class="form-horizontal" method="POST" action="/add_license/" enctype="multipart/form-data">{% csrf_token %}
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box">



            <!-- radio -->
            <div class="form-group">

              <div class="box-body">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                  <div class="panel panel-danger" style="box-shadow:2px 2px 2px 2px black;">
                    <div class="panel-heading">
                      <h3 class="panel-title"><b>LICENSES DETAILS</b></h3>
                    </div>
                    <div class="panel-body" style="font-weight: bold;">
                      <div class="form-group">
                        <div class="col-md-6">
                          <label>License Name <span style="color:red">*</span></label>
                          <input type="text" data-pms-required="true" required class="form-control" name="lic_name" id="custname">
                        </div>

                        <div class="col-md-6">
                          <label>License Number <span style="color:red">*</span></label>
                          <input type="text" data-pms-required="true" class="form-control" name="lic_number" id="shopname" >
                        </div>
                      </div>
                      <div class="form-group">

                        <div class="col-md-6">
                          <label>License Reminder</label>
                          <input type="date" class="form-control" name="lic_reminder" id="shopname" >
                        </div>

                        <div class="col-md-6">
                          <label>Expiry Date</label>
                          <input type="date" class="form-control" name="lic_expiry" id="custphone">
                        </div>
                      </div>
                      <div class="form-group">

                        <div class="col-md-6">
                          <label>License File</label>
                          <input type="file" class="form-control" accept="image/png, image/gif, image/jpeg" name="lic_file" id="custemail">
                        </div>


                      </div>
                    </div>
                    <!-- /.box-body -->


                  </div>
                </div>
              </div>
            </div>

            <!-- /.box -->
            <div class="box-footer">
              <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-4">
                  <button type="button" class="btn btn-danger" onclick="window.location.reload();">Cancel</button>
                  <button type="submit" class="btn btn-primary">Save</button>
                </div>
              </div>
            </div>
          </div>

          <!-- /.col -->
        </div>

    </section>

  </form>
  <!-- /.content -->
</div>
{% include 'footer.html' %}
<!-- /.content-wrapper -->