{% include 'header.html' %}

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
    {% include 'left_navigation.html' %}
  <section class="content-header">
    <h1>
      Bank Details
      <small id="date" class="col-md-4"></small>
      <!-- <small>Optional description</small> -->
    </h1>
    <ol class="breadcrumb">
      <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="/add_bank"><i class="fa fa-dashboard"></i> Back To Add</a></li>
      <li class="active"> Bank Details</li>
    </ol>
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="box">
        <div class="box-header">
          <!-- <h3 class="box-title">Data Table With Full Features</h3> -->

        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive">
          <div class="row">
            <div class="col-md-8"></div>


            <div class="col-sm-2">
              <div class="input-group">
                <a href="/add_bank" class="btn btn-danger"><i class="fa fa-plus-square"></i> Add new</a>
              </div>
            </div>
          </div>
          <table class="table table-bordered table-striped" id="receipt_list" style="text-transform: uppercase;">
            <thead>
              <tr>
                <th>Sl No.</th>
                <th>Bank Name</th>
                <th>Branch Name</th>
                <th>Address</th>
                <th>Account No</th>
                <th>IFSC Code</th>
                <th>Bank opening balance</th>
                <th class="text-center">Edit/Delete</th>
              </tr>
            </thead>
            <tbody>
            {% for d in data %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{d.bank_name}}</td>
                <td>{{d.branch_name}}</td>
                <td>{{d.address}}</td>
                <td>{{d.account_no}}</td>
                <td>{{d.ifsc_code}}</td>
                <td>{{d.bank_open_balance}}</td>
                <td><a href="/edit_bank/{{d.id}}"><i class="fa fa-edit"></i></a>
                <a href="/delete_bank/{{d.id}}"> <i class="fa fa-trash-o"></i></a></td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

    </div>
  </section>
  <!-- /.content -->
</div>
{% include 'footer.html' %}

<script>
   $(document).ready(function() {
      $('#receipt_list').DataTable();
   });
</script>
<!-- /.content-wrapper -->