<!-- Content Wrapper. Contains page content -->
{% include 'header.html' %}
<div class="content-wrapper">
    {% include 'left_navigation.html' %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            License Details
            <small id="date" class="col-md-4"></small>
            <!-- <small>Optional description</small> -->
        </h1>
        <ol class="breadcrumb">
            <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/licenses/"><i class="fa fa-dashboard"></i> Back to List</a></li>
            <li class="active">License Details</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="box">
                <div class="box-header">
                    <!-- <h3 class="box-title">Data Table With Full Features</h3> -->
                    <div class="col-md-8">
                        <h2 class="box-title"></h2>
                    </div>
                </div>
                <!-- /.box-header -->

                <div class="box-body" id="printable">
                  <img src="{{p.license_file}}" alt="" class="img-fluid" width="650" height="500">
                </div>


                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <button class="btn btn-info" onclick="printDiv('printable')">PRINT</button>
    </section>
    <!-- /.content -->
</div>
{% include 'footer.html' %}
<!-- /.content-wrapper -->
<script>

function printDiv(id){
        var printContents = document.getElementById(id).innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
}
</script>
